<nav>
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->

        
    <div>
          <img src="https://download.blender.org/institute/logos/blender-socket.png"> 
        
        <span><%= link_to 'Home', root_path %></span>
        <span><%= link_to 'Nuevo Empleado', new_empleado_path %></span>
         <span><%= link_to 'Reportes', reportes_index_path  %></span>
         
      
    </div>
    
</div>
</nav>